.footer{
  background-color: $sub-accent;
  &__inner{
    padding: 20px 0;
    border-top: 2px solid $accent;
  }
  &__text{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .footer__inner {
    padding: 10px 0;
  }
}